body {
  background-color: #384255; /* Цвет фона, как на изображении */
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.learning-card {
  margin-top: 50px;
  background: #fff;
  border-radius: 10px; /* Скругленные углы карточки */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень */
  width: 1700px;
  max-width: 700px;
  padding: 30px;
}
.card-body p {
  color: #555;
  line-height: 1.4;
  margin-bottom: 30px;
  justify-content: center;
}
.center-text {
  text-align: center;
}

.buttons {
  display: flex; /* Activates row alignment */
  flex-direction: row; /* Default, but good to be explicit */
  flex-wrap: wrap; /* Allows buttons to move to next line if screen is narrow */
  gap: 2px; /* Adds space between your buttons */
  justify-content: flex-start; /* Aligns them to the left */
  padding: 10px;
}
.control-buttons {
  display: flex; /* Activates row alignment */
  flex-direction: row; /* Default, but good to be explicit */
  flex-wrap: wrap; /* Allows buttons to move to next line if screen is narrow */
  gap: 2px; /* Adds space between your buttons */
  justify-content: flex-start; /* Aligns them to the left */
  padding: 10px;
}
.custom-btn {
  /* Layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  /* Sizing & Spacing */
  padding: 12px 12px;
  min-width: 130px;
  cursor: pointer;

  /* Aesthetic */
  background: linear-gradient(135deg, #4a4d52, #676b66);

  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}
.control-btn {
  padding: 12px 12px;
  gap: 4px;
  border-radius: 8px;
  background: linear-gradient(135deg, #de9f3b, #dac715);
}
.active-color {
  background: linear-gradient(135deg, #22c513, #2da50e);
}
