.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.form-side {
  padding: 20px;
  background-color: white;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 3px;
  width: 300px;
  margin-right: 50px;
}
.form-unit {
  margin-bottom: 20px;
}

.main-content {
  padding: 20px;
  background-color: white;
  width: 700px;
  border-radius: 3px;
}
.main-content-container {
  padding: 16px 16px;
}

.button {
  background-color: white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  border: 3px solid #04aa6d;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}
button.disabled {
  background-color: #ccc; /* greyed out */
  cursor: not-allowed;
  opacity: 0.6;
}
.button:hover {
  background-color: #04aa6d;
  color: white;
}
